<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- *****spring JDBC********* -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/xe?useUnicode=true&amp;characterEncoding=utf8&amp;allowPublicKeyRetrieval=true&amp;useSSL=false"></property>
		<property name="username" value="scott"></property>
		<property name="password" value="tiger"></property>
		
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="platformTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="deptDao" class="com.bit.framework.model.DeptDao02Impl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
		<property name="transactionManager" ref="platformTransactionManager"></property>
	</bean>
	<bean id="deptService" class="com.bit.framework.service.DeptService01Impl">
		<property name="deptDao" ref="deptDao"></property>
	</bean>

<!-- IOC&DI -->
	<!-- <bean id="consoleService" class="com.bit.framework.service.KorConsoleService"></bean> -->
	<!-- 1	번 -->
<!-- 	<bean id="module02" class="com.bit.framework.service.Module02" scope="singleton">
		<property name="console" ref="consoleService"></property>
	</bean> -->
	
	<!-- 2	번 -->
<!-- 	<bean id="module2" class="com.bit.framework.service.Module02">
		<constructor-arg ref="consoleService"></constructor-arg>
	</bean> -->
	
<!-- 	<bean id="module03" class="com.bit.framework.service.Module03">
		<property name="su1" value="1234"></property>
		<property name="su2" value="3.14"></property>
		<property name="name" value="abcd"></property>
		<property name="tf" value="true"></property>
		<property name="ch" value="@"></property>
	</bean> -->
	
<!-- 	<bean id="module" class="com.bit.framework.service.Module04">
		<property name="arr1">
			<array>
				<value>a</value>
				<value>ab</value>
				<value>abc</value>
				<value>abcd</value>
				<value>abcde</value>
			</array>
		</property>
		<property name="list">
			<list>
				<value>a</value>
				<value>ab</value>
				<value>abc</value>
				<value>abcd</value>
				<value>abcde</value>
			</list>
		</property>
		<property name="set">
			<set>
				<value>a</value>
				<value>aa</value>
				<value>aaa</value>
				<value>aaaa</value>
				<value>aaaaa</value>
			</set>
		</property>
		<property name="map">
			<props>
				<prop key="key1">val1</prop>
			</props>
		</property>
	</bean> -->
<!-- 	<bean>
		<property>
			<map>
				<entry key="key1">
					<value>val1</value>
				</entry>
				<entry key="key2">
					<value>val2</value>
				</entry>
				<entry key="key3">
					<value>val3</value>
				</entry>
			</map>
		</property>
	</bean> -->
	
	<!-- ****************AOP****************** -->
<!-- 	<bean id="throwsAdvice" class="com.bit.framework.util.ThrowModule"></bean>
	<bean id="afterReturningAdvice" class="com.bit.framework.util.AfterModule"></bean>
	<bean id="methodBeforeAdvice" class="com.bit.framework.util.BeforeModule02"></bean>
	<bean id="consoleService" class="com.bit.framework.service.KorConsoleService"></bean>
	<bean id="methodInterceptor" class="com.bit.framework.util.AroundModule"></bean>
	<bean id="module02" class="com.bit.framework.service.Module02">
		<property name="console" ref="consoleService"></property>
	</bean> -->
<!-- 	<bean id="pointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="func01"></property>
	</bean> -->
	<!-- 
	ex setPatterns(".*.*(..)");
	ex setPatterns(".*.*method(..)");
	 -->
<!-- 	<bean id="pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
		<property name="pattern" value=".*Module02.*01"></property>
	</bean>
	<bean id="advisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut" ref="pointcut"></property>
		<property name="advice" ref="methodBeforeAdvice"></property>
	</bean>
	 -->
<!-- 	<bean id="pointcutAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="patterns">
			<array>
				<value>.*.*01</value>
			</array>
		</property>
		<property name="advice" ref="methodInterceptor"></property>
	</bean> 
	
	<bean id="proxyBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="module02"></property>
		<property name="interceptorNames">
			<array>
		 		<value>pointcutAdvisor</value> -->
		<!--	
				<value>methodInterceptor</value>
				<value>afterReturningAdvice</value>
				<value>throwsAdvice</value> 
				-->
<!-- 			</array>
		</property>
	</bean> -->
</beans>
